CameraHub/.idea/CameraHub.iml
CameraHub/.idea/misc.xml
CameraHub/.idea/modules.xml
CameraHub/.idea/vcs.xml
CameraHub/.idea/workspace.xml
CameraHub/New Text Document.txt
CameraHub/.project
CameraHub/.pydevproject
CameraHub/.idea/inspectionProfiles/Project_Default.xml
CameraHub/.idea/codeStyles/codeStyleConfig.xml
CameraHub/.idea/inspectionProfiles/Project_Default.xml
CameraHub/.idea/codeStyles/codeStyleConfig.xml
CameraHub/CameraHub.pyc
CameraHub/Camera.pyc
CameraHub/randomImage.jpeg
**/.idea